/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to bottom right, #f8fafc, #d3d7dd);
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.blog-card {
  display: flex;
  width: 340px;
  margin-top: 120px;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 7px 0px;
}

.card-content {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.card-header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.card-image {
  height: 288px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.card-badge {
  display: flex;
  padding: 2px 8px;
  background-color: #f0fdf4;
  border-radius: 20px;
  border: solid 1px #bbf7d0;
  height: 24px;
  width: 67px;
  align-items: center;
}

.card-badge p {
  font-size: 14px;
  line-height: 20px;
  width: auto;
  color: #15803d;
}

.card-title {
  color: #171717;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.card-description {
  font-size: 16px;
  line-height: 24px;
  height: auto;
  color: #525252;
}

.card-button {
  display: flex;
  column-gap: 6px;
  background: none;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  color: #6366f1;
  padding: 0;
  font-size: 16px;
  align-items: center;
}

.card-button p {
  padding: 0 2px;
  color: #4338ca;
  line-height: 24px;
}

/* .card-button img {
  padding: 2px 0;
} */